.element__delete-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.element__delete-button:hover {
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
}