.popup__input {
    border: none;
    margin: 42px 36px 27px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: calc(100% - 36px * 2);
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
}

.popup__input:last-of-type {
    margin: 0 36px 0;
}

@media screen and (max-width: 900px) {
    .popup__input {
        margin: 68px 22px 27px;
        width: calc(100% - 22px * 2);
    }
    .popup__input:last-of-type {
        margin: 0 22px 0;
    }
}