.profile {
    margin: 40px auto 0;
    width: calc(100% - 200px * 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1050px) {
    .profile {
        margin-top: 42px;
        width: calc(100% - 40px * 2);
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    .profile {
        margin: 42px auto 0;
        width: calc(100% - 19px * 2);
    }
}