.popup__submit-button {
    margin: 48px 36px 37px;
    width: calc(100% - 36px * 2);
    height: 50px;
    border: none;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.popup__submit-button:hover {
    opacity: .8;
    transition: opacity 1s ease-in-out;
}

@media screen and (max-width: 900px) {
    .popup__submit-button {
        margin: 45px 22px 25px;
        font-size: 14px;
        line-height: 17px;
        width: calc(100% - 2 * 22px);
        height: 46px;
    }
}