.header__logo {
    max-width: 142px;
    cursor: pointer;
}

.header__logo:hover {
    opacity: .6;
    transition: opacity 1s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .header__logo {
        max-width: 103.74px;
        margin-left: 27px;
    }
}