.popup__input-name {
    border: none;
    margin: 54px 36px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: calc(100% - 36px * 2);
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .popup__input-name {
        margin: 75px 22px 30px;
    }
}