.zoom {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 75vw;
}

@media screen and (max-width: 900px) {
    .zoom {
        max-width: 240px;
    }
}