.element__like-button {
    margin: 0;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/Like-d.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.element__like-button:hover {
    opacity: .5;
    transition: opacity 1s ease-in-out;
}

.element__like-button:active {
    background-image: url(../../../images/Like-a.svg);
}