.popup__title {
    margin: 34px 64px 0 36px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    max-width: 330px;
}

@media screen and (max-width: 900px) {
    .popup__title {
        max-width: calc(100% - 22px * 2);
        margin: 25px 22px 0;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
    }
}