.form {
    display: flex;
    flex-direction: column;
    min-width: 230px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    outline: none;
}

@media (min-width: 1024px) {
    .form {
        min-width: 350px;
    }
}